body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

svg.feather {
  margin-right: 3px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

span.required {
  color: red;
}

div.map {
  height: 100%;
  width: 100%;
}

div[id*="vehicle-localization-"] .modal-body {
  height: 750px;
}

div.devices-container, div.photos-container {
  margin: 0 17px 17px 0;
}

div.devices-container a {
  text-decoration: none;
  color: black;
}

div.device-container, div.photo-container {
  cursor: pointer;
  display: flex;
  width: 200px;
  height: 200px;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px 2px #888;
  background-color: whitesmoke;

  -webkit-transition: box-shadow .25s;
  -moz-transition: box-shadow .25s;
  -ms-transition: box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
}
div.device-container:hover, div.photo-container:hover {
  box-shadow: none;
}

div.photo-container, div#bigger-photo-container div.modal-body {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}

div#bigger-photo-container div.modal-body {
  height: 500px;
}

div#bigger-photo-container div.modal-footer p {
  font-size: x-large;
  margin: auto;
}

div.photos-container p.photo-date {
  margin-top: 15px;
  text-align: center;
  width: 200px;
}